extends ./layout/layout
block contant
    .container.mt-5
        .row
            .col.col-12.col-md-3.pt-5
                .img_cont#img_cont.mx-auto
                    img.w-100.h-100.rounded-circle.user_img(src='/' + userImage, alt="image " + username, srcset="")
                h2.pt-3.pl-3=userName
                h5.pl-3.mb-4=userEmail
                if !isOwner
                    form(method="POST" id='formREQ')
                        input(type="hidden", id='myId' name="myId", value=myId)
                        input(type="hidden", id='myName' name="myName", value=myName)
                        input(type="hidden", id='myImage' name="myImage", value=myImage)
                        input(type="hidden", id='frinedId' name="frinedId", value=frinedId)
                        input(type="hidden", id="userName" name="userName", value=userName)
                        input(type="hidden", id="userImage" name="userImage", value=userImage)
                        if isFrendes
                            button.btn.btn-danger.btn-sm(type="submit",  formaction='/friend/delete')
                                i.fa.fa-trash-alt.pr-2
                                | Delete
                        else if isFrendesReq
                            button.btn.btn-danger.btn-sm(type="submit",  formaction='/friend/cancel')
                                i.fas.fa-user-slash.pr-2
                                | Cancel
                        else if isFrendesSendReq
                            button.btn.btn-success.btn-sm(type="submit", formaction='/friend/accept')
                                i.fas.fa-user-check.pr-2
                                | Accept
                            button.btn.btn-danger.btn-sm(type="submit",  formaction='/friend/reject')
                                i.fa.fa-user-times.pr-2
                                | Reject
                        else
                            button.btn.btn-success.btn-sm(type="submit",  id='addBtn')
                                i.fas.fa-user-plus.pr-2
                                | Add frined
            .col.col-12.col-md-9.pt-5
                .list-group
                    .text-white.w-100.p-1.pink
                        h4.float-left.pt-2.px-3 My Friends #{myfreindes.length}
                        a.btn.btn-purple.btn-sm.float-right(href="/create-group") 
                            i.fas.fa-users.pr-2
                            | Create Group
                        .clearfix
                    each myfriend  in myfreindes
                        button.list-group-item(type='button')
                            .text-center
                                div
                                    .ml-3.thumb-lg.member-thumb.float-left
                                        img.rounded-circle.img-thumbnail(src='/myfriend.image' alt='profile-image')
                                    .float-right.w-75.pt-2
                                        h4.pt-2.float-left
                                        a.text-dark(href='/profile/' + myfriend.id)= myfriend.name
                                        a.btn.btn-success.btn-sm.float-right.waves-effect.w-md.waves-light(href='/chat/' + myfriend.chatId)
                                            i.fas.fa-comment-medical.pr-2
                                            | chat
                                        .clearfix
                                    .clearfix
block scripts
    script(src="/socket.io/socket.io.js")
    script(src="/js/sockets/init.js")
    if !isOwner && !isFrendes && !isFrendesReq && !isFrendesSendReq
        script(src="/js/sockets/friend.js")